.main {
  margin: 0 auto;
  width: 1200px;
}
.v-card {
  border-radius: 0;
}
.v-wrap {
  width: 1180px;
  margin: 0 auto;
  padding: 20px;
  background: #fff;
}
.pointer {
  cursor: pointer;
}
.highlight {
  color: #1e88e5;
}